.links-header{
    margin-top: 83px;
    background-color: var(--verde-oscuro);
    height: 4rem;
    color: white;
    border-radius: 3px;
}
.links-header{
    display: flex;
    justify-content: space-around;
}

.link-header{
    font-family: 'Arial Narrow' Arial, sans-serif;
    font-size: 2rem;
    margin: 0 3rem;
    color: white;
    transition: transform 0.3s ease-in-out;
}
.link-header:hover{
    transform: scale(1.2);
}